@font-face {
    font-family: 'Permanent Marker';
    src: url('../fonts/PermanentMarker-Regular.woff2') format('woff2'),
        url('../fonts/PermanentMarker-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Black Han Sans';
    src: url('../fonts/BlackHanSans-Regular.woff2') format('woff2'),
        url('../fonts/BlackHanSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}