body {
    background: #1d1d1d;  
    background: -webkit-linear-gradient(to left, #202020, #000000); 
}

.title-head span{
  display: flex;
  color: white;
  font-size: 10vw;
  justify-content: center;
  font-family: 'Black Han Sans';
  margin-top: 15%;
}

